@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #DDE8FF;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: bg-gradient-to-br from-slate-50 via-blue-50 to-blue-50;
    /* --background: #DDEBFF; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
